
h1{
    color: red;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(214, 245, 37);
    padding: 50px;
    border:10px solid black;
}
#spanId{
    font-size: 22px;
    margin:50px;
}